@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.container{
    height: 100%;
    align-content: center;
}
    
.card{
    height: 370px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
    color: white;
}


.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    
    margin-left: 5px;
    margin-right: 15px;
    padding-bottom: 15px;
    
}

#group_input{
  margin-bottom: 15px;
}

input:focus{
    outline: rgba(0 0 0 0)  !important;
    box-shadow: rgba(0 0 0 0) !important;

}

.remember{
    color: white;
}


.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

/*
--About us--
*/
/*
.cadre-panneau-aboutus {
    position: absolute;
    list-style: none;
    justify-content: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 5%;
  }*/


/*HOME PAGE*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(36, 34, 34);
    height: 100vh;
    width: 100vw;
    color: white;
  }


.watchout-2 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
    color: #45404e;
    font-size: 124px;
    letter-spacing: 8px;
    cursor: pointer;
  }
  
  .watchout-2::before {
    content: "WATCHOUT";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .watchout-2::after {
    content: "WATCHOUT!";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .watchout-2:hover:before {
    top: 10px;
    left: 10px;
  }
  
  .watchout-2:hover:after {
    top: -10px;
    left: -10px;
  } 

  h3 {
    text-align: left;
    line-height: 45px;
  }
  
  h4 {
    text-align: center;
    line-height: 45px;
  }

  .center {
    margin-left: 30%;
    margin-right: 30%;
    height: 500px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
  }

  .center:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

  .watchout {
    height: 350px;
  }  
 

/************************** ROAD *************************/

  .infinite{
    position: relative;
    width: 1270px;
    height: 160px;
    background: #525252;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(30deg);
    left: 25%;
    right: 25%;

  }

  .infinite:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg,#fff 0%, #fff 70%, #525252 70%, #525252 100%);
    background-size: 120px;
    animation: animate 0.5s linear infinite;
  }

  @keyframes animate{
    0%{
      background-position: 0px;
    }
    100%{
      background-position: -120px;
    }
  }

  /*
  .infinite:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: #333;
    bottom: -30px;
    transform-origin: top;
    transform: perspective(500px) rotateX(-25deg);
  }
  */

  .shadow-road{
    position: absolute;
    bottom: -93px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 60px;
    background: linear-gradient(#000, transparent);
    opacity: 0.5;
  }


/************************** TRAFIC LIGHTS *************************/

  .traffic-lights {
    padding: 10px 50px;
    background: #222;
    border-radius: 35px;
    border: 15px solid #111;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index:100;
  }

  .traffic-lights-r {
    padding: 10px 50px;
    background: #222;
    border-radius: 35px;
    border: 15px solid #111;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index:100;
  }
  
  .light {
    border-top: 0.8em solid black;
    border-radius: 50%;
    background: teal;
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 30px 0px 0px 30px
  }
  
  @keyframes red {
    0% {
      background: #111;
    }
    2%,
    40% {
      background: #c0392b;
    }
    42%,
    100% {
      background: #111;
    }
  }
  
  @keyframes amber {
    0%,
    20% {
      background: #111;
    }
    22%,
    40% {
      background: #FBC00C;
    }
    42%,
    80% {
      background: #111;
    }
    82%,
    100% {
      background: #FBC00C;
    }
  }
  
  @keyframes green {
    0%,
    40% {
      background: #111;
    }
    42%,
    80% {
      background: #1abc9c;
    }
    82%,
    100% {
      background: #111;
    }
  }
  
  .red {
    animation: red 10s linear infinite;
  }
  
  .amber {
    animation: amber 10s linear infinite;
  }
  
  .green {
    animation: green 10s linear infinite;
  }
  
  
  /*
  .container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0.8);
    width:500px;
    height:500px;
    border-radius:50%;
    background:#F25E6E;
    background:#54606E;
  }
  */
  
  .traffic-lights::before {
    content: "";
    width: 5em;
    height: 3em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    z-index: 0;
  }

  .traffic-lights-r::before {
    content: "";
    width: 5em;
    height: 3em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #111;
    z-index: 0;
  }

  .traffic-lights::after{
    content: "";
    width:150px;
    height:20px;
    position:absolute;
    top:110%;
    left:50%;
    transform: translateX(-50%);
    background: #111;
    z-index: 0;
  }

  .traffic-lights-r::after{
    content: "";
    width:150px;
    height:20px;
    position:absolute;
    top:110%;
    left:50%;
    transform: translateX(-50%);
    background: #111;
    z-index: 0;
  }

  /************************** ABOUT US *************************/

  .container_slide {
    margin-top: 2%;
    color: #FFF;
    border: 2px solid #ffcc33;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffcc33;
    -webkit-transition: ease-out 1.3s;
    -moz-transition: ease-out 1.3s;
    transition: ease-out 1.3s;
  }

  .slide_down:hover {
    box-shadow: inset 0 950px 0 0 #ffcc33;
    color: rgb(0, 0, 0);
  }

  /*
  .container-about-us{
    margin-left: 35%;
    height: 950px;
    width: 600px;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
  }

  .container-about-us:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }
  */

/************************** GAME PAGE *************************/
.container-game-page {
  padding: 10px 50px;
  border-radius: 35px;
  border: 15px solid #111;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 25%;
  
}

.container-gp{
  padding: 10px 50px;
  border-radius: 35px;
  border: 15px solid #111;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 23%;
  right: 23%;
}


/************************** Button play home page *************************/

.btn-play{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  margin-top: 3%;
}

.btn-play a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}

.btn-play a:before,
.btn-play a:after{
  position: absolute;
  content: "PLAY";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #ff6666;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-play a:before{
  color: #fff;
  background: #ff6666;
  transform: rotateY(0deg) translateZ(25px);
}

.btn-play a:after{
  color: #ff6666;
  transform: rotateX(90deg) translateZ(25px);
}

.btn-play a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


  
/* source

https://codepen.io/tan-ramos-web/pen/BjXYZN
https://www.youtube.com/watch?v=ZHB2veitEaU&t=194s
https://codepen.io/prathkum/pen/dyMPErw
https://codepen.io/Anon_satyam/pen/JjXLoNJ

*/